@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cluster {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid white;
}

.cluster-high {
    background-color: #ef4444;
    /* red-500 */
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.5);
}

.cluster-compliant {
    background-color: #22c55e;
    /* green-500 */
    box-shadow: 0 0 15px rgba(34, 197, 94, 0.5);
}

.cluster-moderate {
    background-color: #eab308;
    /* yellow-500 */
    box-shadow: 0 0 15px rgba(234, 179, 8, 0.5);
}